<%= javascript_tag do %>
  window.userID = "<%= current_user.id %>"
  window.whiteID = "<%= @game.white_player_id %>"
  window.blackID = "<%= @game.black_player_id %>"
  window.game = "<%= refresh_game_path %>"
  window.game_id = "<%= @game.id %>"
  window.last_move = "<%= @last_move_id %>"
  Game.poll();
<% end %>
<br />
<div class="text-center">
  <h1>Game ID: <%= @game.id %>, Turn <span class="game_turn"><%= @game.turn %></span>,
    <span class="player_move">
      <% if @game.turn % 2 == 1 %>
        White
      <% else %>
        Black
      <% end %>
    </span> Player's Move</h1> 
</div>
<br class='clr' />
<div class="game_message">
</div>
<div class="gameboard col-xs-6">
  <table class="board" id="chessboard">
    <% @game.black_player == current_user ? (index = 8.downto(1)) : (index = (1..8)) %>
    <% index.each do |row| %>
      <tr>
        <% index.each do |col| %>
          <% sq_color = (row + col).even? ? 'white_sq' : 'dark_sq' %>
          <td id="<%= "#{row}#{col}" %>" class="<%= sq_color %>">

            <% piece = @game.pieces.where(:x_position => col, :y_position => row).order("updated_at DESC").first %>
            <% if piece && piece.captured.blank? %>
              <div class="piece <%= piece.color %>_piece" id="<%= piece.color %>-<%= piece.type %>" data-piece-url="<%= piece_path(piece) %>">
                <% if piece.color == "black" %>
                  <% case piece.type %>
                  <% when "Pawn" %>
                    <%= image_tag "Black Pawn.svg", :class => "piece_image" %>
                  <% when "Rook" %>
                    <%= image_tag "Black Rook.svg", :class => "piece_image" %>
                  <% when "Knight" %>
                    <%= image_tag "Black Knight.svg", :class => "piece_image" %>
                  <% when "Bishop" %>
                    <%= image_tag "Black Bishop.svg", :class => "piece_image" %>
                  <% when "Queen" %>
                    <%= image_tag "Black Queen.svg", :class => "piece_image" %>
                  <% when "King" %>
                    <%= image_tag "Black King.svg", :class => "piece_image" %>
                  <% end %>
                <% elsif piece.color == "white" %>
                  <% case piece.type %>
                  <% when "Pawn" %>
                    <%= image_tag "White Pawn.svg", :class => "piece_image" %>
                  <% when "Rook" %>
                    <%= image_tag "White Rook.svg", :class => "piece_image" %>
                  <% when "Knight" %>
                    <%= image_tag "White Knight.svg", :class => "piece_image" %>
                  <% when "Bishop" %>
                    <%= image_tag "White Bishop.svg", :class => "piece_image" %>
                  <% when "Queen" %>
                    <%= image_tag "White Queen.svg", :class => "piece_image" %>
                  <% when "King" %>
                    <%= image_tag "White King.svg", :class => "piece_image" %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<div class="col-xs-12 col-md-6">
  <div class="moves_record">
      <h5>Moves Record</h5>
      <ol reversed id="moves"></ol>
  </div>

  <div class="capture_box">
    <h5>Captured</h5>
    <div class="white_capture_box">
      <span id="white_captured">
        <% @game.pieces.where(:captured => true, :color => "white").each do |piece| %>
          <div class="piece <%= piece.color %>_piece" id="<%= piece.color %>-<%= piece.type %>" data-piece-url="<%= piece_path(piece) %>">
            <% case piece.type %>
              <% when "Pawn" %>
                <%= image_tag "White Pawn.svg", :class => "piece_image" %>
              <% when "Rook" %>
                <%= image_tag "White Rook.svg", :class => "piece_image" %>
              <% when "Knight" %>
                <%= image_tag "White Knight.svg", :class => "piece_image" %>
              <% when "Bishop" %>
                <%= image_tag "White Bishop.svg", :class => "piece_image" %>
              <% when "Queen" %>
                <%= image_tag "White Queen.svg", :class => "piece_image" %>
              <% when "King" %>
                <%= image_tag "White King.svg", :class => "piece_image" %>
            <% end %>
          </div>
        <% end %>
      </span>
    </div>
    <br />
    <div class="black_capture_box">
      <span id="dark_captured">
        <% @game.pieces.where(:captured => true, :color => "black").each do |piece| %>
          <div class="piece <%= piece.color %>_piece" id="<%= piece.color %>-<%= piece.type %>" data-piece-url="<%= piece_path(piece) %>">
            <% case piece.type %>
              <% when "Pawn" %>
                <%= image_tag "Black Pawn.svg", :class => "piece_image" %>
              <% when "Rook" %>
                <%= image_tag "Black Rook.svg", :class => "piece_image" %>
              <% when "Knight" %>
                <%= image_tag "Black Knight.svg", :class => "piece_image" %>
              <% when "Bishop" %>
                <%= image_tag "Black Bishop.svg", :class => "piece_image" %>
              <% when "Queen" %>
                <%= image_tag "Black Queen.svg", :class => "piece_image" %>
              <% when "King" %>
                <%= image_tag "Black King.svg", :class => "piece_image" %>
            <% end %>
          </div>
        <% end %>
      </span>
    </div>
    <br />
  </div>
</div>
<br />
<button id="reverse_view" class="btn btn-primary">Reverse View</button>
